* {
    
    margin: 0;
    padding: 0;
    border: 0;
    
}

@font-face {
    font-family: "OstrichSans";
    src: url(../fonts/Ostrich-sans/ostrich-regular.ttf);
}

html {

    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    
    background-image: url('../../backgroundWallpaper.jpg');
    background-size: cover;
    font-family: "OstrichSans", sans-serif;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

.header {
    width: 100%;
    height: 70px;
    opacity: 0.7;
    background-color: #222222;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.downpointer {
    content: '';
    margin-left: 30px;
    margin-top: 5px;
    display: block;
    width: 16px;
    height: 16px;
    border-left: 8px solid rgba(232, 232, 232, 1);
    border-bottom: 8px solid rgba(232, 232, 232, 1);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 2;
    line-height: 60px;
    color: white;
    cursor: pointer;
}

.downpointer:hover {
    border-left: 8px solid rgba(232, 232, 232, 0.8);
    border-bottom: 8px solid rgba(232, 232, 232, 0.8);
}

.user-bubble {
    
    width: 64px;
    height: 64px;
    margin-left: 20px;
    
}

img {
    
    border: 1px solid rgba(232,232,232,1);
    border-radius: 50%;
}

main {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
}

.form-container { 

    width: 30%;
    height: 40%;
    
}

form {

    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(22,22,22,0.7);
    padding: 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 5px;
    background: rgba(22,22,22,0.6);
    box-shadow: 0 0 13px 3px rgba(22,22,22,0.6);
    -webkit-box-shadow: 0 0 13px 3px rgba(22,22,22,0.6);
    -moz-box-shadow: 0 0 13px 3px rgba(22,22,22,0.6);
    overflow: hidden;
    
}

form input {
    width: 100%;
    height 140px;
    border: 1px solid rgba(232,232,232,0.8);
    font-size: 18px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    background-color: rgba(232,232,232,0.7);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgba(22,22,22,1);
    font-weight: 650;
    letter-spacing: 3.5px;
    
    
}

.group {
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.side-menu {
    position: absolute;
    z-index: 9;
    top: 90px;
    left: -143px;
    display: none;
    overflow: visible;
    width: 228px;
    margin: 0;
    padding: 0;
    color: azure;
    border: 1px solid azure;
    border-radius: 3px;
    background: rgba(22,22,22,0.7);
    box-shadow: 1px 1px 3px rgba(34, 34, 34, 0.2);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-animation: popover 0.3s ease-in-out;
    -moz-animation: popover 0.3s ease-in-out;
    animation: popover 0.3s ease-in-out;
    line-height: 1.5;
    transform: rotate(45deg);
    
}
.side-menu li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.active {
    display: block;
}

#side-menu li {
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "OstrichSans", sans-serif;
    letter-spacing: 3px;
    list-style: none;
}
#side-menu li a {
    display: block;
    padding: .5em;
    color: rgba(232,232,232,1);
    border-bottom: 1px solid rgba(232,232,232,1);
    transition: color 0.1s linear;
    background-color: transparent;
    text-decoration: none;
}
#side-menu li a:link {
    text-decoration: none;
}
#side-menu ul {
    list-style-type: none;
}
#side-menu li > a:hover {
    background-color: transparent;
    color: rgba(232,232,232,0.8);
    font-weight: bold;
}
