/* Thank you for not scaring our users away ... Thank you! */

.af-outer {
    
    overflow: hidden;
    height:70px;
    box-shadow: 0 1px 0 #f5f5f5 inset;
    transition: all 0.5 linear;
    
}

.af-inner {
    
    padding: 15px 20px 15px 20px;
    transform-origin: center top;
    transition: all 0.5 linear;
    
}

#af-showreq:checked ~ .af-form .af-outer:not(.af-required) {
	height: 0px;
	visibility: hidden;
}

#af-showreq:checked ~ .af-form .af-outer:not(.af-required) .af-inner {
    
    transform: scale(0);
    opacity: 0;
    
}