/* Basic HTML Tag styling */

* {
    padding: 0;
    margin: 0;
    border: 0;
}
html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: "OstrichSans";
    src: url(../fonts/Ostrich-sans/ostrich-regular.ttf);
}
body {
    height: 100%;
    background-image: url('../../backgroundWallpaper.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: "OstrichSans", sans-serif;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    height: 70px;
    opacity: 0.7;
    background-color: #222222;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.header-non-user {
    width: 100%;
    height: 70px;
    opacity: 0.7;
    background-color: #222222;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}
.downpointer {
    content: '';
    margin-left: 30px;
    margin-top: 5px;
    display: block;
    width: 16px;
    height: 16px;
    border-left: 8px solid rgba(232, 232, 232, 1);
    border-bottom: 8px solid rgba(232, 232, 232, 1);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 2;
    line-height: 60px;
    color: white;
    cursor: pointer;
}
.downpointer:hover {
    border-left: 8px solid rgba(232, 232, 232, 0.8);
    border-bottom: 8px solid rgba(232, 232, 232, 0.8);
}
.user-bubble {
    width: 64px;
    height: 64px;
    margin-left: 20px;
}
img {
    border: 1px solid rgba(232, 232, 232, 1);
    border-radius: 50%;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
footer {
    width: 0;
    height: 0;
    display: none;
}

.tune-control {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items:center;
}

.player-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-delete-tune {
    height: 26px;
    width: 30px;
    text-decoration: none;
    margin-top: 1px;
    border: 1px solid rgba(22,22,22,0.7);
    display: block;
    border-radius: 3px;
    margin-left: 2px;
    background-image: linear-gradient(to bottom right, rgba(22,22,22,0.35), rgba(232,232,232,0.35));
}

.button-delete-tune span {
    background: url('../images/delete.png') no-repeat;
    width: 30px;
    height: 26px;
    background-size: cover;
    position: absolute;
    background-position: center;
}

.button-add-to-playlist {
    
    margin-top: 1px;
    text-decoration: none;
    width: 30px;
    height: 26px;
    border: 1px solid rgba(22,22,22,0.7);
    display: block;
    border-radius: 3px;
    margin-left: 2px;
    background-image: linear-gradient(to bottom right, rgba(22,22,22,0.35), rgba(232,232,232,0.35));
}

.button-add-to-playlist span {
    background: url('../images/addtoplaylist.png') no-repeat;
    width: 30px;
    height: 26px;
    background-size: cover;
    position:absolute;
    background-position: center;
}

.button-add-to-playlist span.added {
    background: none;
}

.button-listen {
    
    width: 30px;
    height: 26px;
    margin-top: 1px;    
    text-decoration: none;
    border: 1px solid rgba(22,22,22,0.7);
    border-radius: 3px;
    background-image: linear-gradient(to bottom right, rgba(22,22,22,0.35), rgba(232,232,232,0.35));
}

.button-listen span {
    background: url('../images/listen.png') no-repeat;
    background-size:cover;
    width: 30px;
    height: 26px;
    position: absolute;
    background-position: center;
}

.player {
    width: 640px;
    height: 130px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(22, 22, 22, 0.7);
    border-radius: 4px;
    background-color: #222222;
    opacity: 0.9;
    box-shadow: 4px;
}

img.thumb {
    border-radius: 0;
}

.player-container {
    width: 640px;
    height: 160px;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
}

/* Player Media ReSIZE */

@media only screen and (max-width: 768px) {
    .player {
        width: 540px;
    }
}
@media only screen and (max-width: 640px) {
    .player {
        width: 500px;
    }
}
@media only screen and (max-width: 554px) {
    .player {
        width: 400px;
        height: 120px;
    }
}
@media only screen and (max-width: 405px) {
    .player {
        width: 320px;
        height: 110px;
    }
}
@media only screen and (max-width: 310px) {
    .player {
        width: 240px;
        height: 100px;
    }
}
@media only screen and (max-width: 245px) {
    .player {
        width: 200px;
        height: 80px;
    }
}

/* END */

.page-feed {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-top: 20px;
    height: 100%;
    width: 70%;
    padding: 30px;
    opacity: 0.8;
}
@media only screen and (max-width: 1000px) {
    .page-feed {
        width: 80%;
    }
}
@media only screen and (max-width: 875px) {
    .page-feed {
        width: 90%;
    }
}
@media only screen and (max-width: 768px) {
    .page-feed {
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 625px) {
    .page-feed {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
.player-control {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #fff;
}
.primary-control {
    height: 70%;
    width: 100%;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.secondary-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30%;
    width: 100%;
    align-items: flex-end;
}
#waveform.progress {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}
#waveform.progress[value] {
    -webkit-appearance: none;
    color: #0074d9;
    border: 0;
}
#progress.progress {
    display: none;
    width: 100%;
    ;
    height: 1rem;
    margin-bottom: 1rem;
}
.stop-button {
    width: 20%;
    height: 20%;
    border: 2px solid #222222;
    background-color: #03c480;
    cursor: pointer;
}
.pause-button {
    width: 20%;
    height: 20%;
    border: 2px solid #222222;
    background: #03c480;
    cursor: pointer;
}
.play-button {
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 26px solid rgba(174, 169, 164, 1);
    margin: 40 auto 20 auto;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    left: 2px;
}
.play-button:before {
    content: '';
    position: absolute;
    top: -30px;
    left: -46px;
    bottom: -30px;
    right: -14px;
    border-radius: 50%;
    border: 4px solid rgba(174, 169, 164, 1);
    z-index: 2;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

img.button-genre {
   border-radius: 0;
   width:20px;
   height: 20px;
   border: 0;
   opacity: 0.6;
   filter:alpha(opacity=0.6);
}

img.button-genre:hover {
    opacity: 0.3;
    filter:alpha(opacity=0.3);
}

.play-button.stop::after {
    
    top: -19px;
    content: '';
    width: 30px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    background: rgba(243,243,238,0.7);
    right: 2px;
    border-left: 10px solid rgba(243,243,238,0);
    position: absolute;
    box-shadow: inset 10px 0 0 0 rgba(22,22,22,0.9);
    font-weight: 400;
    
}

.play-button.stop {
    border-color: transparent;
}

.play-button:after {
    content: '';
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
}
.play-button:hover,
.play-button:focus:before {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.main-control {
    width: 100%;
    height: 100%;
    align-self: flex-end;
}
.wavesurfer {
    width: 100%;
    height: 110.5px;
}
.track-info {
    font-family: "OstrichSans", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 16px;
    color: #E9E9E9;
    width: 100%;
    height: 17.5px;
    text-align: center;
}
.genre-tags-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}
.genre {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.genre > li {
    float: left;
}
#thumbnail-slider div.inner {
    position: relative;
    overflow: hidden;
    padding: 2px 0;
    margin: 0;
    background-color: rgba(232,232,232,0.4);
}
.genreTag {
    background: #E9E9E9;
    border-radius: 3px 0 0 3px;
    color: #222222;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin-right: 5px;
    margin-top: 2px;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    font-size: 16px;
}
.genreTag:before {
    background: #33373A;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}
.genreTag {
    text-decoration: none;
}
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}
.genreTag:after {
    background-color: #706963;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}
.genreTag:hover {
    background-color: #40D4A2;
    color: #fff;
}
.genre-slider {
    width: 80%;
    height: 400px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#thumbnail-slider {
    background-color: transparent;
    margin: 0;
    display: flex;
    flex-direction: row;
    margin:0 auto; /*center-aligned*/
    width:100%;/*width:400px;*/
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}
.slide-left-admin {
    width: 5%;
    height: 100%;
    background-color: rgba(232, 232, 232, 0.04);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.slide-left-admin:hover , .slide-left:hover {
    background-color: rgba(232, 232, 232, 0.3);
}
.slide-left {
    width: 10%;
    height: 100%;
    background-color: rgba(232, 232, 232, 0.04);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#thumbnail-slider-prev,
#thumbnail-slider-next {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 10px solid rgba(22, 22, 22, 0.6);
    border-left: 10px solid rgba(22, 22, 22, 0.6);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    z-index: 2;
    line-height: 60px;
    color: white;
}
#thumbnail-slider-prev {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#thumbnail-slider-prev.disabled,
#thumbnail-slider-next.disabled {
    border-top: 10px solid rgba(22, 22, 22, 0.3);
    border-left: 10px solid rgba(22, 22, 22, 0.3);
}
#thumbnail-slider-prev:hover {
    border-top: 10px solid rgba(22, 22, 22, 0.3);
    border-left: 10px solid rgba(22, 22, 22, 0.3);
}
#thumbnail-slider-next:hover {
    border-top: 10px solid rgba(22, 22, 22, 0.3);
    border-left: 10px solid rgba(22, 22, 22, 0.3);
}
.create-genre {
    width: 5%;
    height: 100%;
    background-color: rgba(232, 232, 232, 0.04);
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.create-genre:hover {
    background-color: rgba(232, 232, 232, 0.3);
}
.slide-right {
    width: 10%;
    height: 100%;
    background-color: rgba(232, 232, 232, 0.04);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.slide-right:hover {
    background-color: rgba(232, 232, 232, 0.3);
}
#thumbnail-slider div.inner ul {
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}
#thumbnail-slider ul li {
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:3px solid rgba(232,232,232,0.6);
    margin:0;
    margin-right:10px; /* Spacing between thumbs*/
    transition:border-color 0.3s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}
#thumbnail-slider ul li.active {
    border-color: rgba(22, 22, 22, 0.3);
}
#thu#thumbnail-slider .thumb {
    opacity:1;
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}

.nail {
    height: 100%;
    width: 100%;
    background-color: rgba(232,232,232,1);
}

.nail:hover {
    background-color: rgba(232,232,232,1);
    z-index:3;
}

@media only screen and (max-width:736px) {
    #thumbnail-slider {
        padding: 10px 26px;
    }
    #thumbnail-slider-prev {
        left: 0px;
        display: none;
    }
    #thumbnail-slider-next {
        right: 0px;
        display:none
    }
    img.button-genre {
        display: none;
    }
}

.button {
    font-family: OstrichSans;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 18px 8px 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: Transparent;
    border: solid #ffffff 1px;
    text-decoration: none;
    outline: none;
    margin-right: 10px;
}
.btn:focus,
.btn:active {
    outline: none !important;
}
.button:hover {
    background: Transparent;
    text-decoration: none;
    border: 1px solid rgba(255,255,255,0.4);
    box-shadow: 0 0 6px rgba(232,232,232,1);
}


/* Side Menu */

.side-menu {
    position: absolute;
    z-index: 9;
    top: 70px;
    left: 0;
    display: none;
    overflow: visible;
    width: 228px;
    margin: 0;
    padding: 0;
    color: azure;
    border: 1px solid azure;
    border-radius: 3px;
    background: rgba(22,22,22,0.7);
    box-shadow: 1px 1px 3px rgba(34, 34, 34, 0.2);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-animation: popover 0.3s ease-in-out;
    -moz-animation: popover 0.3s ease-in-out;
    animation: popover 0.3s ease-in-out;
    line-height: 1.5;
}
.side-menu li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.active {
    display: block;
}

#side-menu li {
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "OstrichSans", sans-serif;
    letter-spacing: 3px;
    list-style: none;
}
#side-menu li a {
    display: block;
    padding: .5em;
    color: rgba(232,232,232,1);
    border-bottom: 1px solid rgba(232,232,232,1);
    transition: color 0.1s linear;
    background-color: transparent;
    text-decoration: none;
}
#side-menu li a:link {
    text-decoration: none;
}
#side-menu ul {
    list-style-type: none;
}
#side-menu li > a:hover {
    background-color: transparent;
    color: rgba(232,232,232,0.8);
    font-weight: bold;
}
