nav {
    display:flex;
    flex-flow:column;
    position:absolute;
    background-color: #1F1F1F;
    width: 20%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    
}
.main .row {
    padding: 0;
    margin: 0;
}
.main {
    padding: 10px 10px 0 10px;
}
nav.sidebar.navbar {
    border-radius: 0;
}
nav.sidebar .navbar-nav > li {
    border-bottom: 1px #e5e5e5 solid;
}
nav.sidebar .navbar-nav > li > a:hover {
    background-color: lightgrey;
    color: #2C2C2C;
    font-weight: bold;
    
}
nav.sidebar .navbar-nav > li: first-child {
    border-top: 1px #e5e5e5 solid;
}
nav.sidebar nav.sidebar .container-fluid {
    padding: 0 0px 0 0px;
}

/* Navbar Styling */

#sidebar {
    width: 20%;
    max-height: 845px;
    height: 100%;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
    font-family: "OstrichSans";
    left: -260px;
    letter-spacing: 2px;
    transition: left 0.3s linear;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    
}


/*Center the options */

nav.sidebar .navbar-brand,
nav.sidebar .navbar-header {
    text-align: center;
    width: 100%;
    margin-left: 0;
}
@font-face {
    font-family: "OstrichSans";
    src: url(../fonts/Ostrich-sans/ostrich-regular.ttf);
}
nav.sidebar .navbar-collapse,
nav.sidebar .container-fluid {
    padding: 0 0px 0 0px;
}
nav.sidebar li {
    width: 100%;
}
@media (min-width: 1330px) {
    .main {
        width: calc(100% - 200px);
        margin-left: 200px;
    }
    nav.sidebar {
        margin-left: 0px;
        float: left;
    }
    section {
        padding-left: 15px;
    }
}

/* Overriding some of the properties because i got confused.... :X */

@media (min-width: 550px) {
    .wraper {
        display: grid;
        grid-template-columns: 20% 80%;
    }
    .navigation {
        grid-column: 1/1;
    }
    .navbar {
        position: absolute;
    }
    #sidebar.visible {
        left: 0px;
        transition: left 0.3s linear;
    }
    .navbar-btn {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 15px;
        cursor: pointer;
        margin: 20px;
        position: absolute;
        top: 0;
        right: -60px;
    }
    .navbar-btn span {
        height: 1px;
        background: #111;
        margin-bottom: 5px;
        display: block;
    }
    .navbar-btn span:nth-child(2) {
        width: 75%;
    }
    .navbar-btn span:nth-child(3) {
        width: 50%;
    }
    legend {
        color: azure;
        font-size: 24px;
    }
}
