/* Basic HTML Tag styling */

html {
    
    height: 100%
    
}

body{

    height:100%;
    background-image: url('../../backgroundWallpaper.jpg');
    background-size: auto;
    font-family: OstrichSans;
    background-repeat: no-repeat;
    
}

