* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

/* My preciousssssssssssssssssssssss /OstrichSans/ */

@font-face {
    font-family: "OstrichSans";
    src: url(../fonts/Ostrich-sans/ostrich-regular.ttf);
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "OstrichSans", sans-serif;
}
body {
    display: flex;
    height: 100%;
    background-attachment: fixed;
    width: 100%;
    flex-direction: column;
    background: url('../../backgroundWallpaper.jpg') no-repeat;
    background-size: cover;
    font-family: "OstrichSans", sans-serif;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: 500;
}
.form-control {
    font-size: 16px;
    letter-spacing: 2.5px;
    font-weight: 700;
}
body > main {
    height: 100%;
}
backgroundWallpaper {
    filter: blur(1px);
}
.img-circle {
    border-radius: 50%;
}
.infoBar {
    display: flex;
    height: 35%;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.7);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
legend {
    font-family: "OstrichSans", sans-serif;
    margin: 0;
    margin-top: 18px;
    font-weight: bold;
    width: 12vw;
    color: #222222;
    letter-spacing: 3px;
    margin-left: auto;
    text-align: center;
}
.secondary-bar {
    display: flex;
    height: 30%;
    width: 100%;
    background-color: transparent;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 2px solid #222222;
    background-color: rgba(232, 232, 232, 0.7);
    justify-content: space-between;
    flex-wrap: nowrap;
}

/* Hamburger Button Style: Collapse */

.hamburger-button {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger-button::hover {
    opacity: 0.7;
}
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #222222;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}
.collapse-style .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.15s;
    transition-delay: 0.15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.collapse-style .hamburger-inner::after {
    top: -20px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.collapse-style .hamburger-inner::before {
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.collapse-style.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.32s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.collapse-style.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
.collapse-style.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.secondary-bar button {
    margin-right: -25%;
}
.hamburger-label {
    font-weight: 600;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: "OstrichSans", sans-serif;
    letter-spacing: 4px;
    font-size: 19px;
}

/* End of the button */


/* Dynamic Side Menu after button click */

.side-menu::before {
    width: 0;
    height: 0;
    display: block;
    content: '';
    position: absolute;
    top: -.45em;
    right: .97em;
    left: .95em;
    pointer-events: none;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #222222;
    font-size: 1.4em;
    right: auto;
    left: .95em;
    padding: 0;
    text-align: center;
}
.side-menu::after {
    font-size: 1.4em;
    display: block;
    width: 0;
    height: 0;
    content: '';
    pointer-events: none;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #222222;
    border-left: 12px solid transparent;
    position: absolute;
    top: -.45em;
    right: .9em;
    left: .85em;
}
.side-menu {
    position: absolute;
    z-index: 9;
    top: 155px;
    left: 15px;
    display: none;
    overflow: visible;
    width: 228px;
    margin: 0;
    padding: 0;
    color: azure;
    border: 1px solid azure;
    border-radius: 3px;
    background: #222222;
    box-shadow: 1px 1px 3px rgba(34, 34, 34, 0.2);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-animation: popover 0.3s ease-in-out;
    -moz-animation: popover 0.3s ease-in-out;
    animation: popover 0.3s ease-in-out;
    line-height: 1.5;
}
.side-menu li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.active {
    display: block;
}
li {
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    box-sizing: border-box;
    font-family: "OstrichSans", sans-serif;
    letter-spacing: 4px;
}
li a {
    display: block;
    padding: .5em;
    color: azure;
    border-bottom: 1px solid azure;
    transition: color 0.1s linear;
    background-color: transparent;
    text-decoration: none;
}
li a:link {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
li > a:hover {
    background-color: transparent;
    color: azure;
    font-weight: bold;
}

/* Page content / Form / UploadButton / Progress Bar */

.well {
    border-radius: 0;
}
.upload-info {
    overflow: hidden;
    font-size: .75em !important;
    font-family: "OstrichSans", sans-serif;
    line-height: 18px;
    font-weight: 400;
    color: #222222;
    width: 100%;
    height: 80px;
}
.upload-progress {
    width: 100%;
    height: 20px;
    background-color: rgba(22, 22, 22, 0.5);
    z-index: 1;
    position: relative;
}
.upload-feedback {
    width: 100%;
    height: 60px;
    background-color: rgba(232, 232, 232, 0.8);
    padding: 1.8rem;
    padding-top: 2.15rem;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
}
.upload-main {
    height: 100%;
    background-color: rgba(232, 232, 232, 0.8);
    border-top: 1px solid #222222;
}
.button-holder {
    height: 50px;
}
.upload-button-style {
    background-color: #222222;
    max-width: 250px;
    min-height: 50px;
    text-align: center;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.file-choose-section {
    height: 70px;
}
.upload-hidden {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    background: #222222;
    outline: none;
    cursor: inherit;
}
.upload-hidden-label {
    text-align: center;
    font-size: 18px;
    top: 4.5px;
    letter-spacing: 2px;
    font-family: "OstrichSans", sans-serif;
    position: relative;
    font-weight: 700;
}
.upload-line {
    width: 0;
    z-index: 4;
    position: absolute;
    background-color: #55AE3A;
    opacity: 0.7;
    height: 100%;
}
.form-container {
    height: 100%;
    text-align: center;
    padding: 15px;
}
#data-form.form-horizontal {
    padding-top: 30px;
}
.btn {
    transition: opacity 100ms linear, color 100ms linear;
    font-size: inherit;
}
.btn-primary:hover {
    background-color: #222222;
    border-color: #222222;
    opacity: 0.8;
}
.btn-primary {
    border-color: transparent;
}
.user-message {
    text-align: center;
}
@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}
.col-sm-offset-4 {
    margin-left: 27%;
}
#submit-button.btn-primary {
    background-color: #222222;
}

/* END */


/* Footer */

.dark-footer .footer-wrapper {
    border: none;
    background: none;
}
.footer {
    float: left;
    position: relative;
    width: 100%;
    margin: auto 0;
    min-height: 150px;
    text-align: center;
    text-shadow: none;
    background-color: #222222;
    top: 100px;
    padding-top: 20px;
}
.footer-wrapper .footer {
    position: relative;
    padding: 35px 0;
}
@media (max-width: 767px) {
    body .footer-wrapper .footer {
        padding: 35px 15px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}
.footer-wrapper .footer .social-links {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
}
.dark-footer {
    width: 100%;
    float: left;
    background: #333;
    top: 70px;
    color: #fff;
    padding: 35px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.button-fb {
    background-image: url(../images/facebook.png);
    font-family: OstrichSans;
    color: black;
    font-size: 20px;
    padding: 4px 20px 4px 28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid #ffffff 1px;
    text-decoration: none;
    outline: none;
    margin-left: 10px;
    background-repeat: no-repeat;
    letter-spacing: 1px;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.footer p.copyright {
    font-family: "OstrichSans";
    font-style: normal;
    font-size: 18px;
    margin: 0;
    color: azure;
    font-weight: normal;
    letter-spacing: 3.5px
}
.dark-footer .footer-wrapper .footer p.links {
    color: #3C3C3C;
}
.dark-footer .footer-wrapper .footer p {
    color: #ffffff;
    text-shadow: none;
    font-size: 18px;
    margin: 35px 0;
}
.dark-footer .footer-wrapper .footer p a {
    text-shadow: none;
    font-size: 20px;
    margin: 0 5px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1px;
}
.inner-center {
    padding-bottom: 10px;
}

/* END */


/* Media Rules */

@media only screen and (max-width: 768px) {
    .hamburger-label {
        font-size: 0;
        letter-spacing: 0;
    }
}
@media only screen and (max-width: 1284px) {
    legend {
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 3px;
        margin-top: 22px;
    }
}
@media only screen and (max-width: 1009px) {
    legend {
        font-size: 16px;
        font-weight: 600;
        margin-top: 22px;
        width: 14vw;
    }
}
@media only screen and (max-width: 899px) {
    legend {
        font-size: 14px;
        margin-top: 22px;
        letter-spacing: 3px;
        width: 16vw;
    }
}
@media only screen and (max-width: 623px) {
    legend {
        margin-top: 15px;
        font-size: 14px;
        width: 16vw;
        letter-spacing: 3px;
    }
}
@media only screen and (max-width: 501px) {
    legend {
        margin-top: 13px;
        font-size: 14px;
        width: 17vw;
        letter-spacing: 3px;
    }
}
@media only screen and (max-width: 360px) {
    legend {
        margin-top: 13px;
        font-size: 0;
        width: 0;
        letter-spacing: 0;
    }
}
@media only screen and (max-width: 256px) {
    .hamburger-button {
        display: none;
    }
    .active {
        display: none;
    }
}
@media only screen and (max-width: 270px) {
    .user-message {
        display: none;
    }
}

/* Overriding bootstrap-select */

.bootstrap-select.btn-group:not(.input-group-btn) {
    float: left;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 0;
}
.btn-primary {
    background-color: #222222;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #222222;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary.focus:active,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    background-color: #222222;
}
.btn-primary:focus,
.btn-primary.focus {
    background-color: #222222;
    opacity: 0.8;
}
